.language-button{
	@include text-style ($montserrat-r, $size-e, $light-brown-color, $text-weight, uppercase);
	display: inline-block;
	background: $white-color;
	border: 1px solid $light-brown-color;
	padding: 10px;
	min-width: 50px;
	text-align: center;

	&.active, &:hover{
		color: $white-color;
		background: $light-brown-color;
	}
}

.button-menu{
	@include text-style ($montserrat-r, $size-e, $white-color !important, $text-weight, uppercase);
	display: inline-block;
	background: $dark-brown-color;
	text-align: center;
	min-width: 125px;
	padding: 10px;

	&:hover{
		opacity: 0.9;
	}
}

.button-options{
	@include text-style ($montserrat-r, $size-c, $dark-brown-color !important, $text-weight, uppercase);
	display: inline-block;
	background: $white-color;
	text-align: center;
	min-width: 125px;
	padding: 10px;

	&:hover{
		opacity: 0.9;
	}
}

.less-options-button{
	padding: 20px;

	img{
		width: 25px;
	}
}

.light-brown-button{
	@include text-style ($montserrat-r, $size-c, $white-color !important, $text-weight, uppercase);
	display: inline-block;
	background: $light-brown-color;
	text-align: center;
	min-width: 240px;
	padding: 10px;
	border: none;

	&:hover{
		opacity: 0.9;
	}
}