//MEDIA QUERY DESKTOP 768PX - 
//******************************
@include generate-media-query (desktop){
	//STYLE HEADER
	header{
		section{
			&#header{
				.col-md-4{
					&.logo{
						text-align: left;
					}
					&.language{
						text-align: center;
					}
					&.menu{
						text-align: right;
					}
				}
			}
		}
	}
	//END STYLE HEADER

	//STYLE LEFT MENU
	#left-menu{
		.col-md-4{
			position: fixed;
			min-width: 479px;
			max-width: 480px;
			padding: 20px;
			top: 0;
			right: 0;
			bottom: 0;

			a{
				&.close-button{
					padding-bottom: 20px;
				}
			}

			ul{
				li{
					a{
						font-size: $size-special;
					}
				}
			}
		}
	}

	#left-menu-pd-branding{
		h1{
			font-size: $size-i;
		}
	}

	.left-menu-details{
		.less-options-button{
			display: none;
		}
	}
	//STYLE LEFT MENU

	//NOSOTROS STYLE
	#coconut-details{
		.container-fluid{
			.col-md-6{
				min-height: 775px;
				
				&:first-of-type{
					padding-left: 5%;
				}
				&:last-of-type{
					padding-right: 5%;

					a{
						&.close-button{
							position: absolute;
							top: 40px;
							right: 5px;
						}
					}
				}
			}
		}
	}
	//END NOSOTROS STYLE

	//PORTAFOLIO STYLE
	#portafolio{
		.container-fluid{
			.col-md-6{
				&:first-of-type, &:nth-of-type(3){
					//padding-left: 5%;
				}
				&:nth-of-type(2), &:last-of-type{
					//padding-right: 5%;
				}
				.col-md-12{
					img{
						&.responsive-pimg{
							display: none;
						}
					}
				}
			}
		}
	}

	.galeria-portafolio{
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		bottom: 0;

		.col-md-4{
			&.left-menu-details{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
			}
			&.item{
				img{
					//min-height: 155px;
				}
			}
		}
		.row{
			&.options{
				display: none;
			}
		}
	}

	.portafolio-similitudes{
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		bottom: 0;

		.col-md-6{
			min-height: 755px;
		}
		.row{
			&.options{
				display: none;
			}
		}
	}
	//END PORTAFOLIO STYLE

	//CONTACTO
	#contacto{
		.col-md-6{
			&.phone{
				text-align: left;
				padding-left: 30px;
			}
		}
		.row{
			&.mail{
				text-align: left;
				float: right;
			}
		}
	}
	#contacto-desplegado{
		p{
			input[type="radio"]{
				display: inline-block;
				width: 100%;
			}
		}
		.col-md-8{
			text-align: center;
		}
		.form-control{
			&.captcha{
				width: 60%;
			}
		}
	}
	//END CONTACTO

	//BUTTON VIDEO
	#play-button{
		position: absolute;
		top: 90px;
		left: 425px;
	}
	//BUTTON VIDEO
}