@font-face {
font-family: "PassionOne-Black";
src: url("../fonts/PassionOne-Black/PassionOne-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PassionOne-Black/PassionOne-Black.woff") format("woff"), url("../fonts/PassionOne-Black/PassionOne-Black.ttf") format("truetype"), url("../fonts/PassionOne-Black/PassionOne-Black.svg#PassionOne-Black") format("svg");
font-weight: normal;
font-style: normal; }
@font-face {
font-family: "PassionOne-Regular";
src: url("../fonts/PassionOne-Regular/PassionOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PassionOne-Regular/PassionOne-Regular.woff") format("woff"), url("../fonts/PassionOne-Regular/PassionOne-Regular.ttf") format("truetype"), url("../fonts/PassionOne-Regular/PassionOne-Regular.svg#PassionOne-Regular") format("svg");
font-weight: normal;
font-style: normal; }
@font-face {
font-family: "Montserrat-Bold";
src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
font-weight: normal;
font-style: normal; }
@font-face {
font-family: "Montserrat-Regular";
src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
font-weight: normal;
font-style: normal; }
#left-menu-dw ul li, #left-menu-branding ul li, #left-menu-dg ul li, #left-menu-media ul li {
margin-bottom: 20px; }
a:hover, a:active, a:focus {
text-decoration: none !important; }
span.dark-brown {
color: #2A190E !important; }
span.light-brown {
color: #59402D !important; }
span.white {
color: #FFF !important; }
section.dark-brown {
padding-top: 30px;
padding-bottom: 30px;
background: #2A190E;
text-align: center; }
section.dark-brown h2 {
font-family: "PassionOne-Black";
font-size: 48px;
color: #FFF;
font-weight: none;
text-transform: uppercase;
padding: 0px;
margin: 0px; }
#coconut-vm, #contacto-vm {
display: inline-block; }
#principal-menu-a{
cursor: pointer !important;
position: fixed;
right: 26px;
top: 45px;
z-index: 100; }
#coconut-vm.active, #contacto-vm.active {
display: none; }
#contacto-desplegado, .galeria-portafolio, #portafolio-grafico,
#portafolio-web, #portafolio-branding, #portafolio-media, #left-menu {
display: none; }
#contacto-desplegado.active, .galeria-portafolio.active, #portafolio-grafico.active,
#portafolio-web.active, #portafolio-branding.active, #portafolio-media.active, #left-menu.active {
display: inline; }
#coconut-details {
display: none; }
#coconut-details.active {
display: block; }
#portafolio-detalles.active #contacto, #portafolio-grafico.active #contacto, #portafolio-web.active #contacto {
padding-top: 60px !important; }
video {
background: rgba(235, 235, 235, 0.9);
position: fixed;
top: 0px;
left: 0px;
width: 100%;
min-height: 100vh;
z-index: 10000;
display: none; }
video.active {
display: inline; }
#close-button-video {
position: fixed;
top: 30px;
right: 30px;
z-index: 10001;
display: none; }
#close-button-video.active {
display: inline; }
#play-button img {
width: 100%;
min-width: 99px;
max-width: 100px; }
/*header {
background: url("../images/back_top.jpg") no-repeat top center transparent;
background-size: cover;
min-height: 100vh; }*/
header{

}
header section#header {
padding-top: 60px;
padding-bottom: 20px; 
background: url("../images/back_top.jpg") no-repeat;
background-position: top center;
}
header .col-md-4.logo img {
width: 100%;
max-width: 297px; }
header .language-button:first-of-type {
margin-right: 10px; }
footer {
padding-top: 20px;
padding-bottom: 20px;
text-align: center; }
footer p {
font-family: "Montserrat-Regular";
font-size: 12px;
color: #000;
font-weight: 400;
text-transform: uppercase;
margin: 0px; }
.language-button {
font-family: "Montserrat-Regular";
font-size: 18px;
color: #59402D;
font-weight: 400;
text-transform: uppercase;
display: inline-block;
background: #FFF;
border: 1px solid #59402D;
padding: 10px;
min-width: 50px;
text-align: center; }
.language-button.active, .language-button:hover {
color: #FFF;
background: #59402D; }
.button-menu {
font-family: "Montserrat-Regular";
font-size: 18px;
color: #FFF !important;
font-weight: 400;
text-transform: uppercase;
display: inline-block;
background: #2A190E;
text-align: center;
min-width: 125px;
padding: 10px; }
.button-menu:hover {
opacity: 0.9; }
.button-options {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #2A190E !important;
font-weight: 400;
text-transform: uppercase;
display: inline-block;
background: #FFF;
text-align: center;
min-width: 125px;
padding: 10px; }
.button-options:hover {
opacity: 0.9; }
.less-options-button {
padding: 20px; }
.less-options-button img {
width: 25px; }
.light-brown-button {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF !important;
font-weight: 400;
text-transform: uppercase;
display: inline-block;
background: #59402D;
text-align: center;
min-width: 240px;
padding: 10px;
border: none; }
.light-brown-button:hover {
opacity: 0.9; }
#left-menu a img {
margin-right: 20px; }
#left-menu p {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: uppercase; }
#left-menu p span {
font-size: 28px;
padding-left: 20px;
vertical-align: middle; }
#left-menu ul {
list-style: none;
padding-left: 0px; }
#left-menu ul li {
line-height: 0.9; }
#left-menu ul li.fuchsia a:hover, #left-menu ul li.fuchsia a.active {
color: #FF00E4 !important; }
#left-menu ul li.green a:hover, #left-menu ul li.green a.active {
color: #C0FF00 !important; }
#left-menu ul li.aquamarine a:hover, #left-menu ul li.aquamarine a.active {
color: #2CFFFB !important; }
#left-menu ul li.yellow a:hover, #left-menu ul li.yellow a.active {
color: #FFA200 !important; }
#left-menu ul li a {
font-family: "PassionOne-Black";
font-size: 73px;
color: #FFF;
font-weight: 400;
text-transform: uppercase; }
#left-menu .col-md-4 {
background: rgba(0, 0, 0, 0.8);
position: absolute;
top: 0;
right: 0;
z-index: 1000;
padding: 60px 15px 30px 30px; }
#left-menu .col-md-4 a.close-button {
display: inline-block;
width: 100%;
text-align: right;
padding-right: 30px;
padding-bottom: 80px; }
#left-menu .row.mail {
background: url("../images/general/white-mail.png") no-repeat center left transparent;
margin-left: 0px;
margin-top: 10px; }
#left-menu .row.mail a {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: uppercase;
display: inline-block;
margin: 0px;
padding-left: 50px; }
#left-menu .row.bottom-content {
margin-left: 0px;
margin-right: 0px; }
#left-menu .row.bottom-content a img.simple {
display: inline; }
#left-menu .row.bottom-content a:hover img.simple, #left-menu .row.bottom-content a.active img.simple {
display: none; }
#left-menu .row.bottom-content a:hover img.hidden, #left-menu .row.bottom-content a.active img.hidden {
display: inline !important; }
.left-menu-details {
background: rgba(0, 0, 0, 0.8);
padding: 60px 15px 30px 30px; }
.left-menu-details a.button-menu {
background: #FFF;
color: #2A190E !important;
float: right; }
.left-menu-details a.special-link {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: none;
margin-top: 15px;
display: inline-block; }
.left-menu-details a.special-link img {
margin-right: 10px; }
.left-menu-details h1 {
font-family: "PassionOne-Black";
font-size: 73px;
color: #FFF;
font-weight: 400;
text-transform: uppercase; }
.left-menu-details h1 span {
font-family: "PassionOne-Regular";
font-size: 36px; }
.left-menu-details p {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: uppercase;
margin: 0px; }
.left-menu-details ul li a {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: uppercase; }
.left-menu-details ul li:first-of-type {
margin-left: -20px;
list-style: none; }
.left-menu-details ol {
list-style: none;
padding-left: 0px;
margin-top: 40px; }
.left-menu-details ol li {
display: inline;
padding: 20px 30px; }
.left-menu-details ol li:first-of-type {
background: url("../images/general/prev-arrow.png") no-repeat left center transparent;
margin-right: 50px; }
.left-menu-details ol li:last-of-type {
background: url("../images/general/next-arrow.png") no-repeat right center transparent; }
.left-menu-details ol li a {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: uppercase; }
.left-menu-details .row.button-access {
margin-bottom: 60px;
margin-left: 0px !important;
margin-right: 0px !important; }
.left-menu-details .row.button-access a {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: uppercase; }
.left-menu-details.green h1 {
color: #C0FF00 !important;
line-height: 0.7; }
.left-menu-details.green a.special-link {
color: #C0FF00; }
.left-menu-details.green ul {
padding-left: 20px;
margin-top: 35px; }
.left-menu-details.green ul li {
color: #C0FF00 !important; }
.left-menu-details.green ul li:first-of-type a {
color: #C0FF00 !important; }
.left-menu-details.green ol li a {
color: #C0FF00 !important; }
.left-menu-details.green .row.button-access a {
color: #C0FF00; }
.left-menu-details.green .row.button-access a img {
margin-right: 10px; }
.left-menu-details.fuchsia h1 {
color: #FF00E4 !important;
line-height: 0.7; }
.left-menu-details.fuchsia a.special-link {
color: #FF00E4; }
.left-menu-details.fuchsia ul {
padding-left: 20px;
margin-top: 35px; }
.left-menu-details.fuchsia ul li {
color: #FF00E4 !important; }
.left-menu-details.fuchsia ul li:first-of-type a {
color: #FF00E4 !important; }
/*.left-menu-details.fuchsia ol li a {
color: #FF00E4 !important; }*/
.left-menu-details.fuchsia .row.button-access a {
color: #FF00E4; }
.left-menu-details.fuchsia .row.button-access a img {
margin-right: 10px; }
.left-menu-details.yellow h1 {
color: #FFA200 !important;
line-height: 0.7; }
.left-menu-details.yellow a.special-link {
color: #FFA200; }
.left-menu-details.yellow ul {
padding-left: 20px;
margin-top: 35px; }
.left-menu-details.yellow ul li {
color: #FFA200 !important; }
.left-menu-details.yellow ul li:first-of-type a {
color: #FFA200 !important; }
.left-menu-details.yellow ol li a {
color: #FFA200 !important; }
.left-menu-details.yellow .row.button-access a {
color: #FFA200; }
.left-menu-details.yellow .row.button-access a img {
margin-right: 10px; }
.left-menu-details.aquamarine h1 {
color: #2CFFFB !important;
line-height: 0.7; }
.left-menu-details.aquamarine a.special-link {
color: #2CFFFB; }
.left-menu-details.aquamarine ul {
padding-left: 20px;
margin-top: 35px; }
.left-menu-details.aquamarine ul li {
color: #2CFFFB !important; }
.left-menu-details.aquamarine ul li:first-of-type a {
color: #2CFFFB !important; }
.left-menu-details.aquamarine ol li a {
color: #2CFFFB !important; }
.left-menu-details.aquamarine .row.button-access a {
color: #2CFFFB; }
.left-menu-details.aquamarine .row.button-access a img {
margin-right: 10px; }
#coconut a.light-brown-button {
margin-top: 25px; }
#coconut p {
font-family: "Montserrat-Regular";
font-size: 18px;
color: #FFF;
font-weight: 400;
text-transform: uppercase; }
#coconut .col-md-12:first-of-type {
max-width: 1050px; }
#coconut-details {
background: #59402D; }
#coconut-details .container-fluid {
padding-left: 0px;
padding-right: 0px; }
#coconut-details .container-fluid .col-md-6 {
padding-top: 60px;
padding-bottom: 60px; }
#coconut-details .container-fluid .col-md-6:first-of-type {
background: #59402D; }
#coconut-details .container-fluid .col-md-6:first-of-type p {
font-family: "Montserrat-Regular";
font-size: 18px;
color: #FFF;
font-weight: 400;
text-transform: none;
margin: 0px; }
#coconut-details .container-fluid .col-md-6:first-of-type p span {
text-transform: uppercase;
margin-top: 25px;
display: inline-block; }
#coconut-details .container-fluid .col-md-6:first-of-type p span.slogan {
font-family: "PassionOne-Regular";
font-size: 30px;
color: #FFF;
font-weight: 400;
text-transform: uppercase; }
#coconut-details .container-fluid .col-md-6:last-of-type {
background: url("../images/coconut/white-briks.png") no-repeat center center transparent;
background-size: cover;
padding-bottom: 30px !important;
padding-left: 60px; }
#coconut-details .container-fluid .col-md-6:last-of-type ul {
list-style: none;
padding-left: 0px;
background: rgba(0, 0, 0, 0.8);
padding: 30px;
max-width: 370px; }
#coconut-details .container-fluid .col-md-6:last-of-type ul li {
font-family: "Montserrat-Regular";
font-size: 16px;
color: #FFF;
font-weight: 400;
text-transform: none;
text-align: center;
margin-bottom: 30px; }
#coconut-details .container-fluid .col-md-6:last-of-type ul li.title {
font-family: "PassionOne-Regular";
font-size: 48px;
color: #FFF;
font-weight: 400;
text-transform: uppercase;
line-height: 0.8; }
#coconut-details .container-fluid .col-md-6:last-of-type ul li.title span {
font-size: 30px; }
#coconut-details .row.special-list {
max-width: 370px; }
#coconut-details .row.special-list img {
position: absolute; }
#coconut-details .row.special-list img:first-of-type {
top: 25px;
left: 10px; }
#coconut-details .row.special-list img:nth-of-type(2) {
top: 25px;
left: 360px; }
#coconut-details .row.special-list img:nth-of-type(3) {
bottom: 10px;
left: 10px; }
#coconut-details .row.special-list img:last-of-type {
bottom: 10px;
left: 360px; }
#group {
position: relative !important; }
#portafolio h2 {
font-family: "PassionOne-Black";
font-size: 87px;
color: #2A190E;
font-weight: 400;
text-transform: uppercase;
margin-top: 60px;
margin-bottom: 0px;
line-height: 0.5; }
.trigger_porta h2{transition: .5s all;}
.trigger_porta:hover h2{color:#FFF !important;margin-top: 47px !important;}
#portafolio_detalles_general{height:100%;}
#portafolio h2 span {
font-family: "PassionOne-Regular";
font-size: 48px;
display: inline-block;
margin-bottom: 20px;
width: 100%; }
#portafolio ul {
padding-left: 20px; }
#portafolio ul li {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #2A190E;
font-weight: 400;
text-transform: uppercase; }
#portafolio img {
width: 100%;
margin-top: 15px; }
#portafolio .container-fluid {
padding-left: 0px;
padding-right: 0px; }
#portafolio .col-md-6 {
min-height: 400px; }
#portafolio .col-md-6.left {
background: -webkit-linear-gradient(top, #FEFEFE, #FBFBFB, #F7F7F7, #F0F0F0, #EAEAEA, #E6E6E6, #E3E3E3, #E0E0E0); }
#portafolio .col-md-6.right {
background: -webkit-linear-gradient(bottom, #FEFEFE, #FBFBFB, #F7F7F7, #F0F0F0, #EAEAEA, #E6E6E6, #E3E3E3, #E0E0E0); }
#portafolio .col-md-6:hover {
cursor: pointer; }
#portafolio .col-md-6#diseno-desarrollo .col-md-12 {
background: url("../images/general/principal-1.png") no-repeat center right transparent;
background-size: 55%;
min-height: 400px;
}
#portafolio .col-md-6#diseno-desarrollo:hover, #portafolio .col-md-6#diseno-desarrollo.active {
background: #FF00E4; }
#portafolio .col-md-6#branding-identidad .col-md-12 {
background: url("../images/general/principal-2.png") no-repeat center right transparent;
background-size: 65%;
min-height: 400px; }
.transicion{
transition: 1.5s all;
}
.oculto{
display: none;
}
#menu_oculto_right{
margin-right: -5000px;
}
#portafolio .col-md-6#branding-identidad:hover, #portafolio .col-md-6#branding-identidad.active {
background: #FFA200; }
#portafolio .col-md-6#diseno-grafico .col-md-12 {
background: url("../images/general/principal-3.png") no-repeat center right transparent;
background-size: 65%;
min-height: 400px; }
#portafolio .col-md-6#diseno-grafico:hover, #portafolio .col-md-6#diseno-grafico.active {
background: #C0FF00; }
#portafolio .col-md-6#social-media .col-md-12 {
background: url("../images/general/principal-4.png") no-repeat bottom right transparent;
background-size: 75%;
min-height: 400px; }
#portafolio .col-md-6#social-media .col-md-12 h2 {
/*line-height: 0.7; */}
#portafolio .col-md-6#social-media:hover, #portafolio .col-md-6#social-media.active {
background: #2CFFFB; }
#portafolio .col-md-12 {
padding-left: 0px;
padding-right: 0px; }
.galeria-portafolio {
position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 100; }
.galeria-portafolio .container-fluid {
padding-left: 0px;
padding-right: 0px; }
.galeria-portafolio .col-md-4.item {
padding-left: 0px;
padding-right: 0px; }
.galeria-portafolio .col-md-4.item img {
width: 100%; }
.galeria-portafolio .col-md-4.item.extra {
display: none; }
.galeria-portafolio .col-md-4.item:hover {
cursor: pointer; }
.galeria-portafolio .col-md-4.item:hover .row.details {
visibility: visible !important; }
.galeria-portafolio .col-md-4.item .row.details {
padding: 25px;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
visibility: hidden; }
.galeria-portafolio .col-md-4.item .row.details p {
font-family: "Montserrat-Regular";
font-size: 18px;
color: #2A190E;
font-weight: 400;
text-transform: uppercase;
margin: 0px;
line-height: 0.8; }
.galeria-portafolio .col-md-4.item .row.details p span {
font-size: 14px; }
.galeria-portafolio .col-md-8 {
padding-left: 0px;
padding-right: 0px; }
.galeria-portafolio .row {
margin-right: 0px;
margin-left: 0px; }
.galeria-portafolio .row.options {
background: rgba(0, 0, 0, 0.8);
padding: 10px;
text-align: center; }
/*.galeria-portafolio.fuchsia .row.details {
background: #FF00E4; }*/
.galeria-portafolio.yellow .row.details {
background: #FFA200; }
.galeria-portafolio.green .row.details {
background: #C0FF00; }
.galeria-portafolio.aquamarine .row.details {
background: #2CFFFB; }
.portafolio-similitudes {
background: rgba(0, 0, 0, 0.8);
position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 100; }
.portafolio-similitudes .container-fluid {
padding-left: 0px;
padding-right: 0px; }
.portafolio-similitudes .col-md-6.content {
padding-top: 15px;
padding-bottom: 15px;
background: rgba(0,0,0,0.7);
text-align: right; }
.portafolio-similitudes .col-md-6.content img {
width: 100%;
max-width: 658px; }
.portafolio-similitudes .col-md-6.content .row.little-view {
margin-left: 0px;
margin-right: 0px;
height: 100vh;
overflow: auto; }
.portafolio-similitudes .row.options {
background: rgba(0, 0, 0, 0.8);
padding: 10px;
text-align: center;
margin: 0px; }
#contacto a.light-brown-button {
margin-top: 30px; }
#contacto p {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: uppercase;
margin: 0px; }
#contacto p span {
font-size: 28px;
padding-left: 20px;
vertical-align: middle; }
#contacto .row.mail {
background: url("../images/general/white-mail.png") no-repeat center left transparent;
margin: 0px;
padding-left: 45px; }
#contacto .row.mail a {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #FFF;
font-weight: 400;
text-transform: uppercase;
display: block; }
#contacto .row.mail a:hover, #contacto .row.mail a:active, #contacto .row.mail a:focus {
text-decoration: none;
color: #FFF; }
#contacto-desplegado {
padding-top: 45px;
padding-bottom: 45px;
background: #F2F2F4; }
#contacto-desplegado p {
font-family: "Montserrat-Regular";
font-size: 14px;
color: #2A190E;
font-weight: 400;
text-transform: uppercase; }
#contacto-desplegado p span.little {
font-size: 11px; }
#contacto-desplegado p span.captcha {
float: left;
margin-top: 12px; }
#contacto-desplegado select.form-control {
margin-bottom: 45px; }
#contacto-desplegado textarea.form-control {
min-height: 100px; }
#contacto-desplegado .col-md-6 .col-md-4 {
padding-left: 0px;
padding-right: 0px; }
#contacto-desplegado .col-md-8 {
padding-left: 0px;
padding-right: 0px; }
#contacto-desplegado .form-control {
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
-ms-border-radius: 0px;
border: 1px solid #2A190E;
background: #F2F2F4;
text-transform: uppercase;
margin-bottom: 20px;
min-height: 45px; }
#contacto-desplegado .form-control.captcha {
float: right;
margin-left: 10px; }
#button-contacto-desplegado {
background: #59402D;
text-align: center;
display: none; }
#button-contacto-desplegado.active {
display: block; }
@media only screen and (min-width: 1576px) {
#portafolio .col-md-6 {
min-height: 500px; }
#portafolio .col-md-6.left .col-md-12 {
float: right; }
.galeria-portafolio .col-md-4.item {
width: 25% !important; }
.galeria-portafolio .col-md-4.item.extra {
display: inline; } }
@media only screen and (min-width: 1025px) {
header {
min-height: 1000px;
position: relative; }
header section#header .col-md-4.logo {
text-align: left; }
header section#header .col-md-4.language {
text-align: center; }
header section#header .col-md-4.menu {
text-align: right; }
#left-menu .col-md-4 {
position: fixed !important;
bottom: 0;
min-width: 479px;
max-width: 480px; }
#left-menu .row.bottom-content {
position: absolute;
bottom: 30px;
left: 30px; }
.bg_light_black{background: rgba(0,0,0,0.55);}
.left-menu-details .less-options-button {
display: none; }
#coconut-details .container-fluid .col-md-6 {
min-height: 755px; }
#coconut-details .container-fluid .col-md-6:first-of-type {
padding-left: 10%; }
#coconut-details .container-fluid .col-md-6:last-of-type {
padding-right: 10%; }
#coconut-details .container-fluid .col-md-6:last-of-type a.close-button {
position: absolute;
top: 40px;
left: 480px; }
#portafolio .container-fluid .col-md-6.left .col-md-12 {
float: right; }
#portafolio .container-fluid .col-md-6 .col-md-12 {
max-width: 800px !important;
min-height: 500px; }
#portafolio .container-fluid .col-md-6 .col-md-12 ul {
padding-left: 15px !important; }
#portafolio .container-fluid .col-md-6 .col-md-12 img.responsive-pimg {
display: none; }
.galeria-portafolio {
background: rgba(0, 0, 0, 0.8); }
.galeria-portafolio .col-md-4.item img {
min-height: 210px; }
.galeria-portafolio .col-md-4.left-menu-details {
position: fixed;
top: 0;
right: 0;
bottom: 0; }
.galeria-portafolio .row.options {
display: none; }
.portafolio-similitudes {
bottom: 0; }
.portafolio-similitudes .col-md-6.left-menu-details {
position: absolute;
top: 0;
right: 0;
bottom: 0; }
.portafolio-similitudes .row.options {
display: none; }
#contacto .col-md-6.phone {
text-align: left;
padding-left: 30px; }
#contacto .row.mail {
text-align: left;
float: right; }
#contacto-desplegado p input[type="radio"] {
float: right;
margin-right: 10px; }
#contacto-desplegado .form-control.little {
width: 55%; }
#contacto-desplegado .form-control.captcha {
width: 67%; }
#play-button {
position: absolute;
top: 230px;
left: 500px; } }
@media only screen and (min-width: 992px) and (max-width: 1024px) {
header section#header .col-md-4.logo {
text-align: left; }
header section#header .col-md-4.language {
text-align: center; }
header section#header .col-md-4.menu {
text-align: right; }
#left-menu .col-md-4 {
position: fixed;
min-width: 479px;
max-width: 480px;
padding: 20px;
top: 0;
right: 0;
bottom: 0; }
#left-menu .col-md-4 a.close-button {
padding-bottom: 20px; }
#left-menu .col-md-4 ul li a {
font-size: 50px; }
#left-menu-pd-branding h1 {
font-size: 48px; }
.left-menu-details .less-options-button {
display: none; }
#coconut-details .container-fluid .col-md-6 {
min-height: 775px; }
#coconut-details .container-fluid .col-md-6:first-of-type {
padding-left: 5%; }
#coconut-details .container-fluid .col-md-6:last-of-type {
padding-right: 5%; }
#coconut-details .container-fluid .col-md-6:last-of-type a.close-button {
position: absolute;
top: 40px;
right: 5px; }
#portafolio .container-fluid .col-md-6 .col-md-12 img.responsive-pimg {
display: none; }
.galeria-portafolio {
background: rgba(0, 0, 0, 0.8);
position: absolute;
bottom: 0; }
.galeria-portafolio .col-md-4.left-menu-details {
position: absolute;
top: 0;
right: 0;
bottom: 0; }
.galeria-portafolio .row.options {
display: none; }
.portafolio-similitudes {
background: rgba(0, 0, 0, 0.8);
position: absolute;
bottom: 0; }
.portafolio-similitudes .col-md-6 {
min-height: 755px; }
.portafolio-similitudes .row.options {
display: none; }
#contacto .col-md-6.phone {
text-align: left;
padding-left: 30px; }
#contacto .row.mail {
text-align: left;
float: right; }
#contacto-desplegado p input[type="radio"] {
display: inline-block;
width: 100%; }
#contacto-desplegado .col-md-8 {
text-align: center; }
#contacto-desplegado .form-control.captcha {
width: 60%; }
#play-button {
position: absolute;
top: 90px;
left: 425px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
header section#header .col-md-4 {
margin-top: 20px; }
header section#header .col-md-4.logo {
margin-top: 0px; }
/*#left-menu .col-md-4 {
position: fixed;
top: 0;
left: 0;
bottom: 0;
width: 100%;
padding: 15px !important; }*/
#left-menu .col-md-4 a.close-button {
padding-bottom: 20px; }
#left-menu .col-md-4 ul li a {
font-size: 42px; }
#coconut-details .container-fluid .col-md-6:last-of-type a.close-button {
position: absolute;
top: 5px;
right: 5px; }
#portafolio .col-md-6 h2 {
font-size: 48px; }
#portafolio .col-md-6 h2 span {
font-size: 30px; }
#portafolio .col-md-6 .col-md-12 img.responsive-pimg {
display: none; }
.galeria-portafolio {
background: rgba(0, 0, 0, 0.8);
position: absolute;
bottom: 0; }
.galeria-portafolio .col-md-4.left-menu-details {
position: absolute;
top: 0;
right: 0;
bottom: 0; }
.portafolio-similitudes {
background: rgba(0, 0, 0, 0.8);
position: absolute;
bottom: 0; }
.portafolio-similitudes .col-md-6.left-menu-details {
position: absolute;
top: 0;
right: 0;
bottom: 0; }
#contacto .col-md-6.phone {
text-align: left;
padding-left: 30px; }
#contacto .row.mail {
text-align: left;
float: right; }
#contacto-desplegado p input[type="radio"] {
float: right;
margin-left: 10px; }
#contacto-desplegado .form-control.captcha {
width: 91%; }
#contacto-desplegado .col-md-4 {
text-align: center; }
#left-menu-pd-web, #left-menu-pd-branding, #left-menu-pd, #left-menu-pd-media {
display: none; }
#left-menu-pd-web.active, #left-menu-pd-branding.active, #left-menu-pd.active, #left-menu-pd-media.active {
display: inline; }
.col-md-12.video-section {
text-align: center;
padding-top: 60px; } }
@media only screen and (min-width: 451px) and (max-width: 767px) {
header section#header {
text-align: center;
padding-top: 30px; }
header section#header .col-md-4 {
margin-bottom: 15px; }
#left-menu {
width: 100%; }
#left-menu a.close-button {
padding-bottom: 20px; }
#left-menu ul li a {
font-size: 42px;
transition: 2s all;    
}
/*#left-menu .col-md-4 {
position: fixed;
bottom: 0;
padding: 15px !important; }*/
#left-menu .col-md-4 a.close-button {
padding-bottom: 20px; }
#left-menu .row.mail p {
font-size: 12px; }
.left-menu-details {
position: absolute;
top: 0;
right: 0;
bottom: 0; }
.left-menu-details h1 {
font-size: 48px; }
.left-menu-details h1 span {
font-size: 36px; }
#coconut-details .container-fluid .col-md-6 {
text-align: center !important; }
#coconut-details .container-fluid .col-md-6:last-of-type a.close-button {
position: absolute;
top: 15px;
right: 15px; }
#coconut-details .container-fluid .row.special-list img:nth-of-type(2), #coconut-details .container-fluid .row.special-list img:last-of-type {
left: 340px !important; }
#portafolio .col-md-6 {
min-height: auto !important; }
#portafolio .col-md-6 h2 {
font-size: 48px; }
#portafolio .col-md-6 h2 span {
font-size: 30px; }
#portafolio .col-md-6 .col-md-12 {
min-height: auto !important;
background: transparent !important; }
.galeria-portafolio {
position: absolute;
top: 0;
left: 0; }
.portafolio-similitudes {
background: rgba(0, 0, 0, 0.8);
bottom: 0; }
#contacto .col-md-6 {
margin-top: 20px; }
#contacto-desplegado p input[type="radio"] {
float: right;
margin-left: 10px; }
#contacto-desplegado .form-control.captcha {
width: 87%; }
#contacto-desplegado .col-md-4 {
text-align: center; }
.left-menu-details {
display: none; }
.left-menu-details.active {
display: inline; } }
@media only screen and (max-width: 450px) {
header section#header {
text-align: center;
padding-top: 30px; }
header section#header .col-md-4 {
margin-bottom: 15px; }
#left-menu {
width: 100%; }
#left-menu a img {
margin-right: 0px !important; }
#left-menu ul li a {
font-size: 42px; }
#left-menu .col-md-4 {
position: fixed;
bottom: 0;
padding: 15px !important; }
#left-menu .col-md-4 a.close-button {
padding-bottom: 20px; }
#left-menu .row.mail p {
font-size: 12px; }
.left-menu-details {
position: absolute;
top: 0;
right: 0;
bottom: 0; }
.left-menu-details a.button-menu {
margin-top: 20px;
float: none !important; }
.left-menu-details h1 {
font-size: 48px; }
.left-menu-details h1 span {
font-size: 36px; }
.left-menu-details ol li {
margin-top: 15px; }
.left-menu-details .row.button-access {
text-align: center !important; }
#coconut-details .container-fluid .col-md-6 {
padding-left: 30px !important;
padding-right: 30px !important;
text-align: center !important; }
#coconut-details .container-fluid .col-md-6:last-of-type a.close-button {
display: inline-block;
width: 100%;
text-align: right;
margin-bottom: 60px; }
#coconut-details .container-fluid .row.special-list img {
display: none !important; }
#portafolio .col-md-6 {
min-height: auto !important; }
#portafolio .col-md-6 h2 {
font-size: 48px; }
#portafolio .col-md-6 h2 span {
font-size: 30px; }
#portafolio .col-md-6 .col-md-12 {
min-height: auto !important;
background: transparent !important; }
.galeria-portafolio {
position: absolute;
top: 0;
left: 0; }
.portafolio-similitudes {
background: rgba(0, 0, 0, 0.8);
bottom: 0; }
#contacto h2 {
font-size: 36px; }
#contacto p {
font-size: 12px; }
#contacto p span {
font-size: 18px; }
#contacto .col-md-6 {
margin-top: 20px; }
#contacto-desplegado {
text-align: center; }
#contacto-desplegado p input[type="radio"] {
display: inline-block;
width: 100%; }
#contacto-desplegado p span.captcha {
float: none !important; }
#contacto-desplegado .col-md-4 {
text-align: center; }
.left-menu-details {
display: none; }
.left-menu-details.active {
display: inline; }
.pink{background: #b2b2b6;}
.purple{background: #c682d9;}
#portafolio_detalles_general{position:absolute;top:0;left:0;}
#principal-menu-a,.menu{cursor:pointer !important;}
.color_requerido{color:#a94442 !important;}
#mensaje_contacto{resize:none;}
#campos_requeridos_info{padding: 3px 3px 3px 0px;font-size:1.5em;}
.ventana{
position: fixed;
width: 100%;
height:100%;
z-index:10;
top:0;
left:0;
background:rgba(0,0,0,0.5);
display:none;
color:#FFF; }


#sliderFull{
	min-height: 900px;
}
/*MOVILES*/
@media only screen and (max-width: 669px){
	#sliderFull{
		min-height: 200px;
	}
	#principal-menu-a{
		top: 200px !important;
	}	
}
/*TABLETS*/
@media only screen and (min-width: 670px) and (max-width: 939px){
	#sliderFull{
		min-height: 300px;
	}	
	#principal-menu-a{
		top: 250px !important;
	}
}
/*DESKTOPS*/
@media only screen and (min-width: 992px) and (max-width: 1169px){
	#sliderFull{
		min-height: 900px;
	}
}
