
@font-face {
  font-family: 'PassionOne-Regular';
  src: url('PassionOne-Regular.eot?#iefix') format('embedded-opentype'),  url('PassionOne-Regular.woff') format('woff'), url('PassionOne-Regular.ttf')  format('truetype'), url('PassionOne-Regular.svg#PassionOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
